<div class="container">
  <nav class="nav d-flex justify-content-between w-100 py-2">
    <a class="btn btn-outline-primary text-decoration-none"
      <% if(name) { %>
      href="/?user=<%= name %>"
      <% } else { %>
      href="/"
      <% } %>
      ><ion-icon name="arrow-back-outline"></ion-icon></a>
  </nav>
</div>
<main>
  <div class="container py-4">
    <div class="row text-center">
      <h2>Game History Table</h2>
    </div>
    <div class="row">
      <div class="col">
        <div class="table-responsive">
          <table
            class=
            "table table-light table-hover table-striped
            align-middle
            bordered
            my-5">
            <thead class="table-outline-primary text-center">
              <tr>
                <th>No.</th>
                <th>Player One</th>
                <th>Player Two</th>
                <th>Winner</th>
                <th>Room</th>
                <th>Result</th>
                <th>Times</th>
              </tr>
            </thead>
            <tbody>
              <% if(game.length) { %> <% game.map((item, index) => { %>
              <tr>
                <th class="text-center"><%= index+1 %></th>
                <th><%= item.player_one %></th>
                <th><%= item.player_two %></th>
                <th><%= item.winner %></th>
                <th><%= item.room %></th>
                <th><%= item.result %></th>
                <th><%= item.times %></th>
              </tr>
              <% }) %> <% } else { %>
              <tr>
                <th class="text-center" colspan="6">Data still empty</th>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>